body {
    color: #fff;
    background-color: #15172b;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}
h1 {
    font-weight: 900;
}

/* text-neon */

:root {
--flick-big-text-shadow:
0 0 2px #fff,
0 0 4px #fff,
0 0 8px #fff,
0 0 15px #86c32c,
0 0 30px #86c32c,
0 0 40px #86c32c,
0 0 70px #86c32c,
0 0 100px #86c32c;
--flick-small-text-shadow:
0 0 1px #fff,
0 0 2px #fff,
0 0 5px #fff,
0 0 11px #86c32c,
0 0 20px #86c32c,
0 0 30px #86c32c,
0 0 55px #86c32c,
0 0 80px #86c32c;
}

.neon-text {
color: #fff;    
text-shadow: var(--flick-small-text-shadow);
}

h1 {
animation: flicker .5s infinite alternate;
}

@keyframes flicker {
0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: var(--flick-big-text-shadow);
}
20%, 24%, 55% {       
    text-shadow: var(--flick-small-text-shadow);;
}
}
/* text-neon */

/* main-section */

.container {
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.wrapper {
    max-width: 1200px;
}
.title-text {
    text-transform: uppercase;
}
.title-text-down {
    font-weight: 600;
}
.info-text {
    color: #dc2f55;
    font-size: 14px;
}
.social-icon a{
    font-size: 32px;
    color: #86c32c;
    padding-right: 20px;
}
.social-icon a:hover {
    color: #dc2f55;
    transition: all 0.5s;
}
.title-img img{
    width: 50%;
    height: 50%;
}
.img-background {
    padding-top: 10px;
    margin-bottom: 20px;
}

 /* image-block */

 .animate-block img.first {
    opacity:0;
    filter:alpha (opacity=0);
}
.animate-block img.first {
    opacity:0;
    filter:alpha (opacity=0);
}
.animate-block:hover img.first {
    opacity:1;
    filter:alpha (opacity=100);
}
.animate-block:hover img.second, .animate-block img.second:hover {
    opacity:0;
    filter:alpha (opacity=0);
}
img.second {
    position: absolute;
    left: 43%;
 }

 @media (max-width:1391px) {
    img.second {
        left: 40%;
    }
 }
 @media (max-width:1099px) {
    img.second {
        left: 38%;
    }
 }
  @media (max-width:1039px) {
    img.second {
        left: 36%;
    }
 }
 @media (max-width:797px) {
    img.second {
        left: 34%;
    }
 }
 @media (max-width:697px) {
    img.second {
        left: 32%;
    }
 }
 @media (max-width:499px) {
    img.second {
        left: 28%;
    }
 }
 @media (max-width:493px) {
    img.second {
        top: 180px;
        left: 15%;
    }
 }
/* image-block */

.social-cat {
    margin-bottom: 20px;
}
summary {
    cursor: pointer;
    color: #86c32c;
    font-weight: 900;
}
summary:hover {
    color: #dc2f55;
    transition: all 0.5s;
}
.text-decor {
    background-color: #dc2f55;
    padding: 2px 2px;
    border-radius: 5px;
}
.btn-gr {
    color: #fff;
    font-weight: 600;
    padding: 10px 10px;
    background-color: #86c32c;
    border-radius: 50px;
    text-decoration: none;
}
.btn-gr:hover {
    background-color: #dc2f55;
    transition: all 0.5s;
}
p.text-up {
    background-color: #303245;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 600;
}
p.text-down {
    color: #fff;
    line-height: 1.3;
    background-color: #303245;
    padding: 10px 10px;
    border-radius: 5px;
}

/* main-section */

/* form-block */

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    }
.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    }
.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    }
.input-container {
    height: 50px;
    position: relative;
    width: 100%;
    }
.ic1 {
    margin-top: 40px;
    }
.ic2 {
    margin-top: 30px;
    }
.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    }
.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
    }
.cut-short {
    width: 50px;
    }
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
    }
.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
    }
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
    }
.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
    }
.input:focus ~ .placeholder {
    color: #dc2f55;
    }
.submit {
    background-color: #49bcf7;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 900;
    }
.submit:active {
    background-color: #49bcf7;
    }
.submit:hover {
    background-color: #dc2f55;
    transition: all 0.5s ease;
    }